html {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

head{
  background-color: lightgray;
  color: rgb(80, 80, 214)
  
}

h1{
  font-family: Cambria, 'Times New Roman', serif;
  color: #1F497D;
  background-color: #BFBFBF;
  font-size: 24px;
  letter-spacing: 0.5em;
  word-spacing: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

h2{
  font-family: Cambria, 'Times New Roman', serif;
  color: #632423;
  font-size: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

ul {
  font-style: oblique;
  font-weight: bold;

}

strong{
  font-family: 'Gill Sans', 'Gill Sans MT'; /*Se usa esta fuente para que en negrita se destaquen las mayúsculas tal y como indica el ejercicio*/
  font-variant-caps: petite-caps;
  font-style: normal;
  font-weight: normal;
}
