/*Coded by AlbertoF17*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#tela{
    visibility: hidden;
    position: absolute;
    top: 22rem;
    left: 0.5rem;
    height: 2rem;
    filter: invert(100);
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    width: 900px;
    height: 700px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}

#spidey{
    transform:translateY(-70px);
}

.contenedor:hover{
    cursor: pointer;
}

.contenedor:active{
    cursor: crosshair;
}

.contenedor:hover #spidey{
    transform: translateY(-10px);
    transition: transform 0.6s;
}

.contenedor:active #spidey{
    transform: translateY(-10px);
    animation-name: balanceo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
}

@keyframes balanceo {
    from{
        transform: translateY(-20px) translateX(0px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }
    25% {
        transform: translateX(180px) translateY(-50px) rotate(-15deg);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }50% {
        transform: translateY(-20px);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
    }75% {
        transform: translateX(-180px) translateY(-50px) rotate(15deg);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
    }  to{
        transform: translateY(-20px) translateX(0px) rotate(0deg);
    }
}

.contenedor:active #tela{
    transform: translateX(0);
    animation-name: lanzado;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.98,.15,.37,.7);
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode:none;
    animation-direction:normal;
}

@keyframes lanzado {
    0%{
        visibility: visible;
    }20% {
        transform: translateX(400px) translateY(4px) scale(20);
    }50%{
        transform: translateX(400px) translateY(4px) scale(20);
        visibility: hidden;
    }
}