/* INICIAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#tela{
    visibility: hidden;
    position: absolute;
    top: 22rem;
    left: 0.5rem;
    /* height: 0.009rem; */
    height: 2rem;
    filter: invert(100);
}
img {
    max-width: 100%;
    display: block;
}
/* ---------------------------------------------------------------------------- */
.contenedor {
    width: 900px;
    height: 700px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}

#spidey{
    transform:translateY(-70px);
}

.contenedor:hover{
    cursor: pointer;
}

.contenedor:active{
    cursor: crosshair;
}

.contenedor:hover #spidey{
    transform: translateY(-10px);
    transition: transform 0.6s;
}

.contenedor:active #spidey{
    transform: translateY(-10px);
    animation-name: balanceo;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
    animation-fill-mode: none; 
    animation-direction: normal;
}

@keyframes balanceo {
    25% {
        transform: translateX(200px) translateY(-50px) rotate(-15deg);
    } 50% {
        transform: translateY(-10px);
    } 75% {
        transform: translateX(-200px) translateY(-50px) rotate(15deg);
    }
}

.contenedor:active #tela{
    transform: translateX(0); /* Si en el keyframe no ponemos 0% ni 100% este sera el valor inicial y final*/
    animation-name: lanzado;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.98,.15,.37,.7);
    animation-delay: 1.5s;
    animation-iteration-count: infinite; /* infinite */
    animation-fill-mode:none; /* Que sucede despues de la animacion, que estilos se quedan */
    animation-direction:normal;
}

@keyframes lanzado {
    0%{
        visibility: visible;
    }
    20% {
        transform: translateX(400px) translateY(4px) scale(20);
        /* scale(1000); */
    } 50%{
        transform: translateX(400px) translateY(4px) scale(20);
        visibility: hidden;
    }
}