/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: grey;
    color: white;
    width: 100%;
}


/*HEADER*/

header {
    padding: 1rem;
    text-align: center;
    background-color: rgb(2, 92, 62);
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: +1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header h1 {
    font-size: 4rem;
    text-decoration: none;
    padding: 1rem, 0;
    font-weight: bold;
}

body {
    width: 100%;
}

.imagen-logo {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 3rem;
}

.nombre-logo {
    margin: 0;
}

.navbar-nav {
    gap: 1.5rem;
}

.nav-link {
    font-size: 2rem;
}

.logo {
    width: 5%;
    height: 5%;
    margin-right: 3%;
}

.navbar-brand {
    width: 5%;
    color: lightgray;
}

#cajas {
    display: flex;
    justify-content: center;
}

#cajas div {
    width: 100%;
}

.input {
    align-items: center;
}

.input img {
    max-width: 20%;
    max-height: 20%;
}

.square {
    vertical-align: middle;
    padding: 5%;
    align-items: center;
    text-align: center;
}

/* INDEX */

/* BANNER */
#banner {
    padding: 0 50px;
    color: black;
    background-image: url(../img/fondo.jpg);
    height: 45vh;
    background-size: cover;
    background-size: 90%;
    background-position: center;
}

#banner::before {
    content: "";
    background: rgba(0, 39, 2, 0.5);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner {
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.contenido-banner h3 {
    display: block;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 200;
}

.contenido-banner h3 p span {
    font-weight: 90000px;
}

.contenedor-subclases {
    margin: 10rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

.contenedor-subclases a {
    text-decoration: none;
}

.subpagina a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30rem;
    height: 24rem;
    border-radius: 4%;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 1rem;
    color: white;
}

.subpagina a:hover {
    box-shadow: 1rem 1rem 3rem black;
    cursor: pointer;
    transition: all 0.3s;
}

.subpagina img {
    width: 20rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 4%;
}

.subpagina h2 {
    margin-top: -2rem;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.subpagina p {
    margin-top: -2rem;
    font-size: 1.15rem;
}

.contenido-conocenos {
    margin: 10rem 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.persona {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 20rem;
}

.persona h2 {
    font-size: 2rem;
}

.persona p {
    font-size: 1.5rem;
}

.circulo {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
}

.circulo img {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
}

.circulo:hover {
    box-shadow: 0.4rem 0.4rem 7rem black;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-conocenos {
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: rgb(2, 92, 62);
    text-transform: uppercase;
    margin-top: 10px;
    padding: 20px 30px;
    border: 3px solid rgb(2, 92, 62);
    align-self: baseline;
}

.boton-conocenos:hover {
    color: white;
    background: rgba(2, 92, 62, 0.6);
    transition: all 0.4s;
}

.lema {
    color: rgb(2, 92, 62);
    width: 100%;
    font-style: oblique;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    flex-direction: row;
    text-align: center;
    text-shadow: 4px 1px 4px white;
}

.aviso-cookies {
    display: none;
    background-color: white;
    color: black;
    padding: 1rem;
    width: calc(100%-3rem);
    max-width: 30rem;
    line-height: 150%;
    border-radius: 3rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: +3;
    padding-top: 5rem;
    box-shadow: 1rem 2rem 4rem black;
    text-align: center;
}

.aviso-cookies.activo {
    display: block;
}

.aviso-cookies .galleta {
    position: absolute;
    max-width: 10rem;
    top: -5rem;
    left: calc(50% - 5rem);
}

.aviso-cookies h3,
.aviso-cookies p {
    margin-bottom: 1rem;
}

.aviso-cookies p span {
    font-weight: bold;
}

.aviso-cookies .boton {
    width: 100%;
    background-color: #595959;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.aviso-cookies .boton:hover {
    background-color: black;
}

.aviso-cookies .enlace {
    color: #5f4dff;
    text-decoration: none;
    font-size: 1rem;
}

.aviso-cookies .enlace:hover {
    text-decoration: underline;
}

.fondo-aviso-cookies {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: +2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.fondo-aviso-cookies.activo {
    display: block;
}

/* FOOTER */
footer {
    background-color: rgb(2, 92, 62);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
}

.empresas-financieras p {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}

.contacto-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3rem;
}

.Copyright,
.Copyright a {
    display: flex;
    color: white;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empresas-financieras a img {
    margin: 0 1rem;
    width: 9rem;
}

.empresas-financieras a:nth-child(2) img {
    width: 17rem;
}

.contacto-footer img {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    margin: 0 0.15rem;
    margin-right: 3rem;
    width: 5rem;
}

.contacto-footer img:hover {
    filter: none;
    cursor: pointer;
    transition: all 0.4s;
}

/* NOTICIAS */

#contenido-noticias {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#contenido-noticias article a div:nth-child(1) {
    display: flex;
    align-self: center;
}

#contenido-noticias article a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 2rem;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 1rem;
    border-radius: 1rem;
}

#contenido-noticias article a:hover {
    box-shadow: 1rem 1rem 2rem black;
    cursor: pointer;
    transition: all 0.3s;
}

#contenido-noticias article div a img {
    border-radius: 1rem;
}

#contenido-noticias article a div h2 {
    font-size: 3.5rem;
}

#contenido-noticias article a div p {
    font-size: 1.25rem;
}

.texto {
    align-self: flex-start;
    text-align: end;
}

.izquierda a {
    flex-direction: row;
    align-items: flex-start;
    margin-right: 40%;
}

.derecha a {
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-left: 40%;
}

#contenido-noticias article img {
    width: 20rem;
}

/* SERVICIOS */

.contenido-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

#introducción {
    background-color: rgba(2, 92, 62, 0.6);
    padding: 2rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
}

#introducción p {
    font-size: 1.25rem;
}

.contenedor-psicologos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 2rem 4rem;
    border-radius: 3rem;
    width: 80vw;
}

#psicologo,
#psiquiatra {
    height: 12vh;
}

#psicólogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#psicólogos img {
    justify-self: center;
    width: 15rem;
    border-radius: 3rem;
}

#psicólogos img:hover {
    box-shadow: 0.5rem 0.5rem 3rem black;
    transition: all 0.3s;
}

.psicologo p {
    text-align: center;
    font-size: 1.25rem;
}

.contenedor-psiquiatras {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 2rem 4rem;
    border-radius: 3rem;
    width: 80vw;
}

#psiquiatra {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 1rem;
}

.psiquiatra img {
    width: 20rem;
    align-self: center;
    border-radius: 3rem;
}

.psiquiatra p {
    font-size: 1.25rem;
}

/* TESTIMONIOS */

.contenido-testimonios {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.subpaginas-testimonios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 2rem;
}

.subpaginas-testimonios a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.subpaginas-testimonios p {
    text-align: justify;
}

.subpaginas-testimonios a * {
    margin: 0;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.articles article p,
.articles article h3 {
    margin: 0;
}

.articles article h3 {
    font-size: 3rem;
}

.articles article p {
    font-size: 1.25rem;
}

.articles article {
    border-radius: 2rem;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 4rem;

}

.articles article p {
    text-align: justify;
}

.articles article iframe {
    min-width: 40vw;
    min-height: 40vh;
}

#Familias,
#Jovenes,
#Influencers {
    height: 10vh;
}

/* CONTACTOS */

.contenido-contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

form p {
    margin: 0;
}

.input {
    width: 70vw;
    height: 70vh;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(2, 92, 62, 0.6);
    display: flex;
    padding: 1rem;
}

.input h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 70vh;
}

form label {
    font-size: 1.5rem;
}

form textarea {
    min-width: 30rem;
    max-width: 50rem;
    min-height: 8rem;
    max-height: 15rem;
}

button {
    width: 6rem;
    height: 3rem;
}

button:hover {
    color: white;
    background-color: black;
    transition: all 0.3s;
}

.input iframe {
    border-radius: 1rem;
    width: 50vw;
    height: 50vh;
}

.redes {
    display: inline;
    text-align: center;
}

.red a img {
    align-self: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.red a img:hover {
    align-self: center;
    filter: none;
    transition: all 0.3s;
}