
/*RESET*/

* {
    box-sizing: border-box;   
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: grey;
    color: white;
    width: 100%;
}


/*HEADER*/

header {
    padding: 1rem;
    text-align: center;
    background-color: rgb(2, 92, 62);
    color:white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0;
    z-index: +1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header h1 {
    font-size: 4rem;
    text-decoration: none;
    padding: 1rem, 0;
    font-weight: bold;
}

body{
    width: 100%;
}
 
.imagen-logo{
    -webkit-filter: invert(100%);
    filter:invert(100%);
    width: 3rem;
}

.nombre-logo {
    margin:0;
}

.navbar-nav {
   gap: 1.5rem;
}

.nav-link {
    font-size: 2rem;
}

/* INDEX */

/* BANNER */
#banner{
    padding: 0 50px;
    color:black;
    background-image: url(../img/fondo.jpg);
    height: 45vh;
    background-size:cover;
    background-size: 90%;
    background-position: center;
}

#banner::before {
    content:"";
    background: rgba(0, 39, 2, 0.5);
    position:absolute;
    width: 100%;
    height:45vh;
    left:0;
}

.contenido-banner {
    position:relative;
    color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow:hidden;
}

.contenido-banner h3{
    display: block;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 200;
}

.contenido-banner h3 p span {
    font-weight: 90000px;
}

.contenedor-subclases {
    margin:10rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

.contenedor-subclases a {
    text-decoration: none;
}

.subpagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30rem;
    height: 24rem;
    border-radius: 4%;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 1rem;
    color:white;
}

.subpagina:hover{
    box-shadow: 1rem 1rem 3rem black;
    cursor: pointer;
    transition: all 0.3s;
}

.subpagina img {
    width: 20rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 4%;
}

.subpagina h2 {
    margin-top: -2rem;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.subpagina p {
    margin-top: -2rem;
    font-size: 1.15rem;
}

.contenedor-conocenos {
    margin:10rem 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.persona {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 20rem;
}

.persona h2 {
    font-size: 2rem;
}

.persona p {
    font-size: 1.5rem;
}

.circulo {
    height: 14rem;
    width: 14rem;
    background-color:aqua;
    border-radius: 50%;
}

.circulo:hover {
    box-shadow: 0.4rem 0.4rem 7rem black;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-conocenos {
    cursor:pointer;
    font-size: 25px;
    text-decoration: none;
    color:rgb(2, 92, 62); 
    text-transform: uppercase;
    margin-top: 10px;
    padding: 20px 30px;
    border: 3px solid rgb(2, 92, 62);
    align-self: baseline;
}

.boton-conocenos:hover {
    color: white;
    background: rgba(2, 92, 62, 0.6);
    transition: all 0.4s;
}

.lema {
    color:rgb(2, 92, 62);
    width: 100%;
    font-style: oblique;
    font-size: 50px;
    text-transform:uppercase;
    font-weight: bolder;
    flex-direction: row;
    text-align: center;
    text-shadow: 4px 1px 4px white;
}

/* FOOTER */
footer {
    background-color: rgb(2, 92, 62);
    padding: 1rem;  
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
}

.empresas-financieras p{
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}
 
.contacto-footer {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-right: 3rem;
}

.Copyright, .Copyright a {
    display: flex;
    color: white;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empresas-financieras a img{
    margin: 0 1rem;
    width: 9rem;
}

.empresas-financieras a:nth-child(2) img{
    width: 17rem;
}

.contacto-footer img{
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    margin: 0 0.15rem;
    margin-right: 3rem;
    width: 5rem;
}

.contacto-footer img:hover{
    filter:none;
    cursor: pointer;
    transition: all 0.4s;
}

/* NOTICIAS */

#contenido-noticias {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}

#contenido-noticias article a{
    display: flex;
    gap: 2rem;
    background-color: rgba(2, 92, 62, 0.6);
    padding: 1rem;
    border-radius: 1rem;
}

#contenido-noticias article a:hover {
    box-shadow: 1rem 1rem 2rem black;
    cursor: pointer;
    transition: all 0.3s;
}

#contenido-noticias article div a img {
    border-radius: 1rem;
}

#contenido-noticias article a div h2 {
    font-size: 4rem;
}

#contenido-noticias article a div p {
    font-size: 2rem;
}

.texto {
    align-self: flex-start;
    text-align: end;
}

.izquierda a {
    flex-direction: row;
    align-items: flex-start;
    margin-right: 40%;
}

.derecha a {
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-left: 40%;
}

#contenido-noticias article img {
    width: 20rem;
}

/* .contenedor-servicios{
    Aqui se supone q hay algo
} */

/*RESPONSIVE*/
/* 
@media(max-width: 1098px){*/
    /*HEADER*/             /*
    .mostrar-menu, .esconder-menu {
        display:block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(2, 92, 62);
        right:-100%;
        top:0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display:block;
        padding:20px;
    }

    .esconder-menu {
        position: absolute;
        top:40px;
        right:40px;
    }

    #check:checked ~ .menu{
        right:0;
    }
} */