
/*RESET*/

* {
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: grey;
    color: white;
    width: 100%;
}


/*HEADER 1*/

header {    
    padding: 2rem;
    text-align: center;
    background-color: rgb(2, 92, 62);
    color:white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 70px;
    text-decoration: none;
    padding: 1rem, 0;
    display: inline-block;
}

body{
    width: 100%;
}
 
.imagen-logo{
    -webkit-filter: invert(100%);
    filter:invert(100%);
    width: 3rem;
}

.menu {
    font-size: 30px;
    justify-content: space-between;
}

.menu a{
    color:white;
    text-decoration: none;
    padding: 0 1rem;
}

.menu a:hover {
    cursor:pointer;
    color: red;
    text-decoration: underline;
    transition: all 0.3s;
}

.mostrar-menu, .esconder-menu{
    display: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.mostrar-menu {
    order:1;
}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover {
    color:red;
}

#check {
    display: none;
}

/* BANNER */
#banner{
    padding: 0 50px;
    color:black;
    background-image: url(/img/fondo.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}

#banner::before {
    content:"";
    background: rgba(77, 77, 92, 0.6);
    position:absolute;
    width: 100%;
    height:45vh;
    left:0;
}

.contenido-banner {
    position:relative;
    color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}

.contenido-banner h3{
    display: block;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 200;
}

.contenido-banner span {
    font-weight: 900;
}

.boton-empezar {
    cursor:pointer;
    font-size: 25px;
    text-decoration: none;
    color:rgb(2, 92, 62); 
    text-transform: uppercase;
    margin-top: 10px;
    padding: 20px 30px;
    border: 3px solid rgb(2, 92, 62);
    align-self: baseline;
}

.boton-empezar:hover {
    color: white;
    background: rgba(2, 92, 62, 0.6);
    transition: all 0.4s;
}

.lema {
    color:rgb(2, 92, 62);
    width: 100%;
    font-style: oblique;
    font-size: 50px;
    text-transform:uppercase;
    font-weight: bolder;
    flex-direction: row;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

/* FOOTER */
footer {
    background-color: rgb(2, 92, 62);
    padding: 1rem;  
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
}

.empresas-financieras p{
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}
 
.contacto-footer {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-right: 3rem;
}

.Copyright, .Copyright a {
    display: flex;
    color: white;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empresas-financieras img{
    margin: 0 1rem;
    width: 9rem;
}

.empresas-financieras img:nth-child(2){
    width: 17rem;
}

.contacto-footer img{
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    margin: 0 0.15rem;
    margin-right: 3rem;
    width: 5rem;
}

.contacto-footer img:hover{
    filter:none;
    cursor: pointer;
    transition: all 0.4s;
}


/*RESPONSIVE*/
/* 
@media(max-width: 1098px){*/
    /*HEADER*/             /*
    .mostrar-menu, .esconder-menu {
        display:block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(2, 92, 62);
        right:-100%;
        top:0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display:block;
        padding:20px;
    }

    .esconder-menu {
        position: absolute;
        top:40px;
        right:40px;
    }

    #check:checked ~ .menu{
        right:0;
    }
} */