* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.separador {
    height: 0.2rem;
    width: 100vw;
    background-color: lightgray;
}

.separador2 {
    height: 0.2rem;
    max-width: 100vw;
    background-color: lightgray;
    margin: 3rem 0;
}

.separador3 {
    height: 0.2rem;
    width: 40vw;
    background-color: lightgray;
    margin: 3rem 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

header h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

a {
    color:black;
    text-decoration: none;
}

.precio {
    font-weight: 1000;
}

header span {
    color: blue;
}

header nav ul {
    padding: 0;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2, footer p:hover {
    cursor: pointer;
}

.imagen {
    max-width: 100vw;
    height: 60vh;
    margin: 1rem 0;
    background-image: url(../img/decoracion.jpg);
    background-size: cover;
}

.imagen img {
    width: 90vw;
}

.categorias h2,
.nuestros-productos h2 {
    text-align: center;
}

.categorias {
    margin-bottom: 3rem;
}

.categorias div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.categorias div div {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.categorias div div:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(1, 105, 165);
    transition: all 0.3s;
}

.categorias div img {
    width: 20vw;
}

.sobre-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sobre-nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(1, 105, 165);
    color: white;
    height: 65vh;
    width: 50vw;
}

.sobre-nosotros img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.15vw;
    height: auto;
}

.blog{
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
}

.blog article {
    width: 40vw;
}

.blog button {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.info-blog div div p span {
    color:rgb(8, 81, 236);
}

.blog aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

}

.blog article img{
    width: 40vw;
}

.info-articulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* MEJORARLO CON UN SOLO FLEX*/

.nuestros-productos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nuestros-productos h3 {
    font-size: 1.5rem;
}

.prod1,
.prod23 div,
.prod456 div {
    background-color: rgb(1, 105, 165);
    color: white;
    text-align: center;
}

.prod1 {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.prod1 img {
    width: 40vw;
}

.prod1 div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod1 div button {
    width: 18vw;
}

.prod23 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.prod23 img {
    width: 29.5vw;
}

.prod23 div {
    display: flex;
    flex-direction: column;
    width: 29.5vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.prod23 div button {
    width: 27vw;
}

.prod456 {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.prod456 img {
    width: 19.4vw;
}

.prod456 div button {
    width: 17vw;
}

.prod456 div {
    display: flex;
    flex-direction: column;
    width: 19.4vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

button {
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;
    background-color: rgb(100, 167, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(68, 114, 0);
    transition: all 0.3s;
}

.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    height: auto;
    width: 100vw;
}

.nosotros img {
    width: 50vw;
}

.nosotros div {
    height: 66.1vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 99vw;
}

.galeria img {
    width: 30vw;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contacto form fieldset{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30vw;
}

.contacto form fieldset legend{
    background-color: rgb(1, 105, 165);
    color: white;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
}

.contacto form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    padding: 1rem;
}

.datos input{
    width: 80%;
    height: 2rem;
}

.pais select{
    width: 80%;
    height: 2rem;
}

.infoextra select{
    width: 60%;
    height: 2rem;
}


footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

footer div div {
    flex-direction: column;
}

footer h2 {
    font-size: 1.5rem;
}

footer p {
    font-size: 1rem;
    margin: 0.6rem 0;
}