form {
    width: 300px;
    margin: 2rem auto;
}

input {
    width: 100%;
    padding: 0.5rem;
}

form{
    display: flex;
    gap: 0.25rem;
}

form img{
    width: 3rem;
    height: 3rem;
}

body {
    background-image: url(./media/pokeball.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 2rem 0 2rem 0;
    color: #000;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: "";
    background: rgba(0,0,0, 0.75);
    background-size: 1rem 1rem;
    border-radius: 0 0 2rem 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: -1;
}

.img-container {
    width: 100%;
    margin: 0.5rem 0;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 0.3rem;
    font-size: 1rem;
}

.poke-types div {
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 4rem;
    border: 1px solid black;
}

.poke-img {
    width: 15rem;
}