@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);
@font-face {font-family: "Star Jedi"; src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot");
    src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi") format("svg");
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body a {
    font-family: 'Star Jedi', sans-serif;
    margin: 0;
    font-size: 3rem;
    text-decoration: none;
}

body a:visited {
    color: white;
    text-decoration: none;
}

body a:hover {
    color: yellow;
    text-decoration: underline;
}

main h1 {
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
}

#cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 0.25rem solid yellow;
    border-radius: 2rem;
    padding: 1rem;
    width: 20vw;height: 60vh;
    box-shadow: 1rem 1rem 1rem rgba(255, 251, 30, 0.19),
                1rem 1rem 1rem rgba(255, 251, 30, 0.23);
}

.card ul img {
    margin: 0;
    margin-top: 0.75rem;
    position: relative;
    left: 15%;
    display: flex;
    justify-self: center;
    width: 70%;
    height: auto;
}

.card h2 {
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    margin: 0;
    font-size: 2.5rem;
}

.card h3 {
    margin: 0;
    font-size: 2rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
}

.card ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    list-style: none;
}