* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

button {
    font-size: 1.5em; /*NO SE SI ES ESTO*/
}

p, li, label {
    font-size: 1.25em;
}

fieldset {
    font-size: 1.25em;
}

a {
    font-size: 1em;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover{
    color:yellow;
    cursor: pointer;
}

a:active{
    color:blue;
    cursor: pointer;
}

button{
    font-weight: bold;
    background-color: black;
    color:white;
    border: 2px solid #c00000;
}

button:hover{
    color: black;
    background-color: white;
    border-color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.menu {
    padding: 2em;
    position: fixed;
    height: 100vh;
    width: 20vw;
    background-color: #170000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid #c00000;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    width: 17em;
    border-radius: 50%;
}

.lista ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    list-style: none;
    align-items: center;
}

footer {
    justify-self: flex-end;
}

.contenido-index>section {
    max-width: 80vw;
    margin-left: 20vw;
    background-color: #170000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid #c00000;

}

.contenido-index>section:nth-child(odd){
    background-color: #170000;
}

.contenido-index>section:nth-child(even){
    background-color: #06002b;
}

.contenido-index>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c00000;
}

.contenido-index>section:hover{
    box-shadow: inset 0 0 10px #ffffff;
}

.home p {
    padding: 0 10em;
}

.blog article{
    padding: 1em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    border: 1em solid #c00000;
    margin-bottom: 3em;
}

.cartas{
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: 70vw;
}

.carta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3em;
    border: 1px solid white;
    border-radius: 1em;
}

.services, .about{
    padding-bottom: 3em;
}

.services>ul:nth-child(odd){
    list-style: "🛒";
}

.services>ul>ul>li{
    list-style: "🖥";
}

table {
    text-align: center;
    background-color: #06002b;
    border: 0.2em solid red;
    border-collapse: collapse;
    width: 30vw;
    margin-bottom: 8em;
}

table th{
    border: 0.2em solid red;
    background-color: black;
    padding: 0 3em;
}

table td{
    border: 0.2em solid red;
    padding: 0 5em;
}

caption {
    font-weight: bold;
    font-size: 2.5em;
}

.contact {
    padding: 2em;
}

legend {
    font-size: 2em;
}

.contact form{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.formulario {
    display: flex;
    width: 70vw;
}

.formulario div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formulario p {
    margin: 0;
}

.formulario div{
    padding: 1em;
}

form button {
    width: 10vw;
    height: 6vh;
}

form textarea{
    max-width: 40vw;
    min-height: 20vw;
    max-height: 50vh;
}

.entrada {
    font-size: 1em;
}

textarea{
    font-size: 1.5em;
}

.check {
    margin-top: 0;
    vertical-align: middle;
}