
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #f8b78b;
    background-image: url(../img/fondoTop.svg);
    background-repeat:no-repeat;
    background-size: 45rem;
    background-position: -6rem -10rem;
}

/* USAR "HUE-ROTATE" PARA CAMBIAR EL COLOR DEL FONDO*/

header {
    text-align: center;
    padding: 1.5rem;
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

.fantasma{
    background-color: #470052;
    filter: hue-rotate(270deg);
}

.agua{
    background-color: #83eeff;
    filter: hue-rotate(220deg);
}

.planta{
    background-color: #66cdaa;
    filter: hue-rotate(120deg);
}

.electrico{
    background-color: #b9a808;
    filter: hue-rotate(50deg);
}

.psiquico {
    background-color: #750c46;
    filter: hue-rotate(-50deg);
}

.fantasma img{
    filter: hue-rotate(-270deg);
}

.agua img{
    filter: hue-rotate(-220deg);
}

.planta img{
    filter: hue-rotate(-120deg);
}

.electrico img{
    filter: hue-rotate(-50deg);
}

.psicquico img {
    filter: hue-rotate(50deg);
}

header h1 {
    margin:0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 1rem 20rem;
}

.carta {
    background-image: url(../img/fondo.svg);
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 19rem;
    height: 15rem;
    box-shadow: 0.2rem 0.2rem 1rem black;
    border-radius: 5%;
    overflow: hidden;
    font-size: 1.5rem;
}

.carta img {
    justify-self: center;
    align-self: center;
}

section a {
    color: black;
    text-decoration: none;
}
/*INVERTIR EL HUE ROTATE PARA LAS PAGINAS ESPECIFICAS*/
.color-fuego {
    color: #c24903;
}

.color-planta{
    color: #008a5c;
}

.color-fantasma {
    color: #6c007c;
}

.color-agua {
    color: #00abc5
}

.color-electrico{
    color: #a79602;
}

.color-bicho {
    color: #00b185;
}

.color-psiquico{
    color: #d415a5;
}

.body-index {
    height: 80.3vh;
}

.body-especifica {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}

.carta-especifica {
    background-image: url(../img/fondo.svg);
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.carta p, .carta-especifica p {
    margin: 0;
    display: block;
}

h6 {
    margin: 0;
    font-weight: normal;
}

lr {
    height: 0.2rem;
    width: 100%;
    background-color: #f8b78b;
}

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #f67c54;
    background-color: #fcd3c6;
    margin: 0;
}

.circulo img {
    width: 100px;
}

.poderes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
}

.poderes div {
    text-align: center;
}

.poderes img {
    width: 50px;
}


footer {
    text-align: center;
    padding: 1.48rem;
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

footer h1 {
    margin:0;
}